html {
	color: white;
}

h1 {
	font-family: 'Merienda', cursive;
	text-align:center;
}

table {
	table-layout: fixed;
	width: 40%;
	border-collapse: collapse;
	border: 2px solid white;
	margin: 0 auto;
	overflow: hidden;
}

th, td {	
	padding: 10px;
	font-family: 'Merienda', cursive;
}

th {
	letter-spacing: 2px;
	text-align: center;
}

td {
	border: 2px solid white;
}

body, html {
	min-height:100%;
}

body {
	background-image:url("solarsystem.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}